
# Created by https://www.gitignore.io/api/actionscript

### Actionscript ###
# Build and Release Folders
bin/
obj/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# End of https://www.gitignore.io/api/actionscript
